@tailwind base;
@tailwind components;
@tailwind utilities;


/* 

    TIPOGRAFIA

*/

@font-face{
    font-family: "Muli";
    src: url("/fonts/muli.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "Panton";
    src: url("/fonts/panton_bold.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: bold;
}
@font-face{
    font-family: "Panton";
    src: url("/fonts/panton_lightcaps.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}
@font-face{
    font-family: "Century Schoolbook";
    src: url("/fonts/century_schoolbook-italic.woff2") format("woff2");
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}
@font-face{
    font-family: "Century Schoolbook";
    src: url("/fonts/century_schoolbook.woff2") format("woff2");
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}

.subtitulo{
    @apply font-panton font-light;
}
h1{
    @apply font-panton font-bold text-3xl xl:text-6xl;
}
.titulo{
    @apply font-panton font-bold text-3xl lg:text-4xl xl:text-5xl;
}
.titulo-elemento{
    @apply font-panton font-bold text-2xl xl:text-4xl
}
.descricao{
    @apply font-muli;
}
.texto{
    @apply font-centurySchoolbook leading-relaxed;
}
button{
    @apply font-panton font-bold normal-case;
}